.projects{
	margin-bottom: 150px;
}

.projects-title{
	margin-bottom: 30px;
}

.project-list{
	margin-bottom: 90.5px;
}

.project-image {
	margin-bottom: 13px;
}

.project-h3 {
	margin-bottom: 14px;
	width: 542px;
	height: 41px;
	font-size: 30px;
	line-height: 41px;
	color: #121212;
}

.project-a {
	display: block;
	padding-left: 1px;
	font-size: 20px;
	line-height: 27px;
	color: #AD1818;	
	text-decoration: none;	
}
.projects-btn{
	margin-top: -1px;
	width: 100%;
	padding: 55px 0;
	cursor: pointer;
	border: none;
	font-family: 'Manrope';	
	letter-spacing: -0.03em;
	font-size: 30px;
	line-height: 41px;
	font-weight: 400;
	background: #FFFFFF;
	color: #AD1818;
	border: 1px solid #AD1818;
	border-radius: 5px;
}
:hover.projects-btn{
	background: #AD1818;
	color: #FFFFFF;
}
@media (max-width: 1199px) {
	.projects{
		margin-bottom: 100px;
		left: 1px;
	}
	.projects-title{
		padding-top: 0;
		margin-bottom: 30px;
	}
	.project-image{
		width: 100%;
		margin-bottom: 14px;
	}
	.project-h3{
		margin-bottom: 2px;
		width: 100%;
		font-size: 25px;
		line-height: 34px;
	}
	.project-a{
		padding-left: 1px;
	}
	.project-list{
		margin-bottom: 80px;
	}
	.projects-btn{
		margin-top: 20px;
	}
}
@media (max-width: 767px){
	.projects{
		margin-bottom: 80px;
		padding-left: 2px;
	}
	.projects-title{
		margin-bottom: 20px;
	}
	.project-image{
		margin-bottom: 18px;
	}
	.project-h3{
		margin-bottom: -5px;
		font-size: 18px;
		line-height: 25px;
	}
	.project-list{
		margin-bottom: 49px;
	}
	.project-a{
		padding-left: 0;
		font-size: 16px;
		line-height: 22px;
	}
	.projects-btn{
		margin-top: 11px;
		font-size: 22px;
		padding: 0;
		line-height: 98px;
	}
}